$BarlowLight: "BarlowLight";
$BarlowBlack: "BarlowBlack";
$BarlowBold: "BarlowBold";
$BarlowExtraBold: "BarlowExtraBold";
$BarlowExtraLight: "BarlowExtraLight";
$BarlowItalic: "BarlowItalic";
$BarlowMedium: "BarlowMedium";
$BarlowRegular: "BarlowRegular";
$BarlowSemiBold: "BarlowSemiBold";
$BarlowThin: "BarlowThin";

@font-face {
    font-family: "BarlowLight";
    src: url("../assets/fonts/BarlowLight/BarlowLight.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowLight/BarlowLight.woff") format("woff"),
        url("../assets/fonts/BarlowLight/BarlowLight.ttf") format("truetype"),
        url("../assets/fonts/BarlowLight/BarlowLight.svg#BarlowLight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowBlack";
    src: url("../assets/fonts/BarlowBlack/BarlowBlack.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowBlack/BarlowBlack.woff") format("woff"),
        url("../assets/fonts/BarlowBlack/BarlowBlack.ttf") format("truetype"),
        url("../assets/fonts/BarlowBlack/BarlowBlack.svg#BarlowBlack") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowBold";
    src: url("../assets/fonts/BarlowBold/BarlowBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowBold/BarlowBold.woff") format("woff"),
        url("../assets/fonts/BarlowBold/BarlowBold.ttf") format("truetype"),
        url("../assets/fonts/BarlowBold/BarlowBold.svg#BarlowBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowExtraBold";
    src: url("../assets/fonts/BarlowExtraBold/BarlowExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowExtraBold/BarlowExtraBold.woff") format("woff"),
        url("../assets/fonts/BarlowExtraBold/BarlowExtraBold.ttf") format("truetype"),
        url("../assets/fonts/BarlowExtraBold/BarlowExtraBold.svg#BarlowExtraBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowExtraLight";
    src: url("../assets/fonts/BarlowExtraLight/BarlowExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowExtraLight/BarlowExtraLight.woff") format("woff"),
        url("../assets/fonts/BarlowExtraLight/BarlowExtraLight.ttf") format("truetype"),
        url("../assets/fonts/BarlowExtraLight/BarlowExtraLight.svg#BarlowExtraLight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowItalic";
    src: url("../assets/fonts/BarlowItalic/BarlowItalic.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowItalic/BarlowItalic.woff") format("woff"),
        url("../assets/fonts/BarlowItalic/BarlowItalic.ttf") format("truetype"),
        url("../assets/fonts/BarlowItalic/BarlowItalic.svg#BarlowItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowMedium";
    src: url("../assets/fonts/BarlowMedium/BarlowMedium.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowMedium/BarlowMedium.woff") format("woff"),
        url("../assets/fonts/BarlowMedium/BarlowMedium.ttf") format("truetype"),
        url("../assets/fonts/BarlowMedium/BarlowMedium.svg#BarlowMedium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowRegular";
    src: url("../assets/fonts/BarlowRegular/BarlowRegular.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowRegular/BarlowRegular.woff") format("woff"),
        url("../assets/fonts/BarlowRegular/BarlowRegular.ttf") format("truetype"),
        url("../assets/fonts/BarlowRegular/BarlowRegular.svg#BarlowRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowSemiBold";
    src: url("../assets/fonts/BarlowSemiBold/BarlowSemiBold.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowSemiBold/BarlowSemiBold.woff") format("woff"),
        url("../assets/fonts/BarlowSemiBold/BarlowSemiBold.ttf") format("truetype"),
        url("../assets/fonts/BarlowSemiBold/BarlowSemiBold.svg#BarlowSemiBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BarlowThin";
    src: url("../assets/fonts/BarlowThin/BarlowThin.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/BarlowThin/BarlowThin.woff") format("woff"),
        url("../assets/fonts/BarlowThin/BarlowThin.ttf") format("truetype"),
        url("../assets/fonts/BarlowThin/BarlowThin.svg#BarlowThin") format("svg");
    font-weight: normal;
    font-style: normal;
}
