{% set page_title = 'Freeplus' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content">
    <div class="block1">
        <div class="block1__wrap">
            <div class="block1__slider">
                <!---->
                {% for i in  1..5 %} -->
                <div class="block1__item">
                    <figure class="block1__img">
                        <img alt="" src="./assets/images/logo.png">
                    </figure>
                    <div class="block1__content">
                        <h2 class="block1__title">At vero eos et accusamus et iusto odio dignissimos</h2>
                        <h3 class="block1__des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</h3>
                        <a href="#" class="button-white">DISCOVER MORE</a>
                    </div>
                </div>
                <!---->
                {% endfor %} -->
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="block2__wrap">
            <div class="block2__left">
                <img alt="" src="./assets/images/logo.png">
            </div>
            <div class="block2__right">
                <div class="block2__logo">
                    <img alt="" src="./assets/images/logo.png">
                </div>
                <div class="block2__title">
                    At vero eos et accusamus et iusto odio dignissimos
                </div>
                <div class="block2__des">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block3">
        <div class="block3__wrap">
            <div class="block3__heaing">
                <h2 class="block3__title">our product</h2>
                <h3 class="block3__sub-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</h3>
            </div>
            <div class="block3__content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab1">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2">Profile</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <div class="block3__tab">
                            <figure class="block3__tab-img">
                                <img alt="" src="./assets/images/logo.png">
                            </figure>
                            <div class="block3__tab-text">
                                <div class="block3__tab-title">
                                    Sed ut perspiciatis unde omnis iste
                                </div>
                                <div class="block3__tab-subtitle">
                                    Odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                </div>
                                <div class="block3__tab-btn">
                                    <a href="#" class="button-blue">DISCOVER MORE</a>
                                    <a href="#" class="button-white-outline">FIND STORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">Profile</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block4">
        <h2 class="block4__title"> thấu hiểu làn da hơn</h2>
        <div class="block4__wrap block4__slider">
            {% for i in  1..3 %}
            <div class="block4__item">
                <figure class="block4__item-img">
                    <img alt="" src="./assets/images/logo.png">
                </figure>
                <div class="block4__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
                <a href="#" class="block4__item-link">Read more ></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="block5">
        <div class="block5__wrap">
            <h2 class="block5__title">khách hàng tin dùng</h2>
            <div class="block5__content block5__slider">
                <div class="block5__item">
                    <div class="block5__item-left">
                        <div class="block5__item-title">Hà Vũ - NVVP</div>
                        <div class="block5__item-des">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</div>
                        <div class="block5__item-btn">
                            <a href="#" class="button-blue">DISCOVER MORE</a>
                            <a href="#" class="button-white-outline">BUY NOW</a>
                        </div>
                    </div>
                    <div class="block5__item-right">
                        <figure class="block5__item-img">
                            <img alt="" src="./assets/images/logo.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block6">
        <div class="block6__wrap">
            <div class="block6__item">
                <div class="block6__img">
                    <img alt="" class="img" src="./assets/images/logo.png">
                    <img alt="" class="icon" src="./assets/images/logo.png">
                </div>
                <div class="block6__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
            </div>
        </div>
    </div>
    <div class="block7">
        <div class="block7__wrap">
            <div class="block7__left">
                <figure class="block7__img">
                    <img alt="" src="./assets/images/logo.png">
                </figure>
            </div>
            <div class="block7__right">
                <h2 class="block7__title">
                    register and get free sample
                </h2>
                <form method="POST" class="block7__form form">
                    <div class="block7__form-wrap">
                        <div class="form-group wow fadeInUp" data-wow-delay="0.35s">
                            <label>Họ và tên</label>
                            <input
                                class="form-control block7Name"
                                name="name"
                                type="text"
                                placeholder="Your Name"
                            >
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                            <label>Số điện thoại</label>
                            <input
                                class="form-control block7Phone"
                                name="phone"
                                type="number"
                                placeholder="Your Phone Number"
                            >
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay="0.45s">
                            <label>Email</label>
                            <input
                                class="form-control block7Email"
                                name="email"
                                type="text"
                                placeholder="Your Email"
                            >
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay="0.5s">
                            <label>Address</label>
                            <textarea placeholder="Your Address" class="form-control block7Email" name="email"></textarea>
                        </div>
                    </div>
                    <button class="button-blue">DISCOVER MORE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="block8">
        <div class="block8__wrap">
            <div class="block8__heading">
                <div class="block8__title">our stores</div>
                <div class="block8__sub-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui</div>
            </div>
            <div class="block8__content">
                <a href="#" class="block8__item">
                    <img alt="" class="icon" src="./assets/images/logo.png">
                </a>
            </div>
        </div>
    </div>
    <div class="block9__wrap d-flex">
        <a class="block9__logo wow fadeInUp" data-wow-delay="0.1s" href="#">
            <img src="./assets/images/logo.png" alt="">
        </a>
        <div class="block9__about wow fadeInUp" data-wow-delay="0.2s">
            <div class="block9__about--content">
                <div class="block9__about--item">
                    <div>Thông tin  liên hệ</div>
                    <div>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem</div>
                </div>
                <div class="block9__about--item">
                    <div>hotline:</div>
                    <a href="tel:9999999999" class="block9__phone">
                        999 999 9999
                    </a>
                </div>
            </div>
        </div>
        <div class="block9__contact wow fadeInUp" data-wow-delay="0.3s">
            <div class="block9__label">
                connect with us
            </div>
            <div class="block9__social socical">
                <a href="./#">
                    <img src="./assets/images/social-yt-big.png" alt="youtube">
                </a>
                <a href="./#">
                    <img src="./assets/images/social-fb-big.png" alt="facebook">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
