<div class="footer wow fadeIn" data-wow-delay="0.1s">
    <div class="footer-wrap d-flex">
        <a href="#" class="footer-logo">
            <img alt="Nibitar" src="./assets/images/logo-footer.jpg">
        </a>
        <ul class="footer-menu d-flex">
            <li>
                <a href="#">
                    Policy
                </a>
            </li>
            <li>
                <a href="#">
                    Term & Condition
                </a>
            </li>
            <li>
                Copyright © 2021 FreePlus
            </li>
        </ul>
    </div>
</div>
