<div class="footer wow fadeIn" data-wow-delay="0.1s">
    <div class="footer-wrap d-flex">
        <a href="#" class="footer-logo">
            <img alt="Nibitar" src="./assets/images/footer-logo.png">
        </a>
        <ul class="footer-menu d-flex">
            <li>
                <a href="#">
                    Terms and Conditions
                </a>
            </li>
            <li>
                <a href="#">
                    Privacy Policy
                </a>
            </li>
            <li>
                Copyright ©XXXXXX. All rights reserved.
            </li>
        </ul>
    </div>
</div>
