<div class="footer wow fadeIn" data-wow-delay="0.1s">
    <div class="footer-wrap d-flex">
        <a href="#" class="footer-logo"></a>
        <ul class="footer-menu d-flex">
            <li><a href="#" data-toggle="modal" data-target="#policy">Cam kết</a></li>
            <li><a href="#" data-toggle="modal" data-target="#term-condition">Chính sách bảo mật</a></li>
            <li>Copyright © 2021 FreePlus</li>
        </ul>
    </div>
</div>
