<div class="header">
    <div class="header-container">
        <a href="./home.html" class="header-logo">
            <img alt="skill spar" src="./assets/images/logo.png">
        </a>
        <div class="header-menu">
            <div class="header-menu__nav">
                <a link="homepage" href="#">homepage</a>
                <a link="about" href="#">About Freeplus</a>
                <a link="product" href="#">product</a>
                <a link="contactus" href="#">contact us</a>
                <a link="store" href="#">store</a>
            </div>
            <div class="header-social socical">
                <a href="./#">
                    <img src="./assets/images/icon-ins.png" alt="instagram">
                </a>
                <a href="./#">
                    <img src="./assets/images/icon-fb.png" alt="facebook">
                </a>
            </div>
            <div class="header-menu__mb">
                <div class="lines">
                    <span class="line line_1"></span>
                    <span class="line line_2"></span>
                    <span class="line line_3"></span>
                </div>
            </div>
        </div>
    </div>
</div>
