<div class="header">
    <div class="header-container">
        <a href="./home.html" class="header-logo">
            <img alt="skill spar" src="./assets/images/logo.png">
        </a>
        <div class="header-menu">
            <div class="header-menu__nav">
                <a link="trangchu" href="http://localhost:9000">trang chủ</a>
                <a link="gioithieu" href="http://localhost:9000/product.html">Giới thiệu sản phẩm</a>
                <a link="benhlydaday" href="http://localhost:9000/benhlydaday.html">bệnh lý dạ dày</a>
                <a link="dangky" id="btn-dangky" href="http://localhost:9000/#dangky">đăng ký tư vấn</a>
                <a link="lienhe" href="http://localhost:9000/#lienhe">Liên hệ</a>
            </div>
            <div class="header-social socical">
                <a href="./#">
                    <img src="./assets/images/social-yt.png" alt="youtube">
                </a>
                <a href="./#">
                    <img src="./assets/images/social-fb.png" alt="facebook">
                </a>
            </div>
            {# active #}
            <div class="header-menu__mb">
                <span class="text">
                    menu
                </span>
                <div class="lines">
                    <span class="line line_1"></span>
                    <span class="line line_2"></span>
                    <span class="line line_3"></span>
                </div>
            </div>
        </div>
    </div>
</div>
