@mixin title {
    font-family: $SVN-Gotham-Bold;
    text-transform: uppercase;
    font-size: 2.344vw;
    @media (max-width: 767px) {
        font-size: 24px;
    }
}
@mixin des {
    font-family: $SVN-Gotham-Book;
    font-size: 1.042vw;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}
